images
buildroot-images
src/*/app
.obj
.deleted

.DS_Store

src/**/.Module.*
src/**/Module.symvers
src/**/.mymodule.*
src/**/mymodule.*
src/**/.modules.*
src/**/.*.cmd*
src/**/app
src/**/core
src/**/modules.order
src/**/.skeleton.*

src/**/*.o
src/**/*.dtb
src/**/*.ovl

src/02_modules/procstat/procstat
src/02_modules/procstat/procstat_s

src/03_drivers/sample01/main1
src/03_drivers/sample01/main2
src/03_drivers/sample01/main3
